{% extends 'objectGallery/base.html' %}

{% block content %}
<a href="{% url 'index' %}" class="btn btn-primary">&lt; Zpět</a>
<form action="/create/" method="post" enctype="multipart/form-data" id="inputForm">
    <div id="formMsgs"></div>
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div id="requiredFields">
    <h3>Vyžadovaná pole</h3>
        <div class="fieldsWrapper form-group">
            {{ form.author.errors }}
            <div class="col-xs-4">
                {{ form.author.label_tag }}
            </div>
            <div class="col-xs-8">
                {{ form.author }}
            </div>
        </div>
        <div class="fieldsWrapper form-group">
            {{ form.name.errors }}
            <div class="col-xs-4">
                {{ form.name.label_tag }}
            </div>
            <div class="col-xs-8">
                {{ form.name }}
            </div>
        </div>
        <div class="fieldsWrapper form-group">
            {{ form.obj_file.errors }}
            <div class="col-xs-4">
                {{ form.obj_file.label_tag }}
            </div>
            <div class="col-xs-8">
                {{ form.obj_file }}
            </div>
        </div>
    </div>
    <div id="nonRequiredFields">
    <h3>Nevyžadovaná pole</h3>
        <div class="fieldsWrapper form-group">
            {{ form.description.errors }}
            <div class="col-xs-4">
                {{ form.description.label_tag }}
            </div>
            <div class="col-xs-8">
                {{ form.description }}
            </div>
        </div>
        <div class="fieldsWrapper form-group">
            {{ form.mtl_file.errors }}
            <div class="col-xs-4">
                {{ form.mtl_file.label_tag }}
            </div>
            <div class="col-xs-8">
                {{ form.mtl_file }}
            </div>
        </div>
        <div class="fieldsWrapper form-group">
            {{ form.thumb.errors }}
            <div class="col-xs-4">
                {{ form.thumb.label_tag }}
            </div>
            <div class="col-xs-8">
                {{ form.thumb }}
            </div>
        </div>
        <div class="fieldsWrapper form-group">
            {{ form.tags.errors }}
            <div class="col-xs-4">
                {{ form.tags.label_tag }}
            </div>
            <div class="col-xs-8">
                {{ form.tags }}
            </div>
        </div>
        <input type="submit" value="Vytvořit" class="btn btn-success">
    </div>
</form>
{% endblock content %}
{% block scripts %}
{% load static %}
<script src="{% static 'objectGallery/bootstrapify.js' %}"></script>
<script>
$(function()){
    $("input[required]").attr("readonly", "true");
}
</script>
{% endblock scripts %}