{% extends 'objectGallery/base.html' %}

{% block content %}
<input id="obj_file" hidden value="{{ model.obj_file }}">
<input id="mtl_file" hidden value="{{ model.mtl_file }}">
<a href="{% url 'index' %}" class="btn btn-primary">&lt; Zpět</a>
<h2>{{ model.name }}</h2>
<p>Autor: <b class="bigger"> {{ model.author }} </b></p>
<p>Nahráno: <b class="bigger"> {{ model.creation_date|date:"j. n. Y" }}</b> v <b>{{ model.creation_date|time:"H:i" }}</b></p>
<div id="renderer"></div>
<label for="light">Intenzita osvětlení: <span id="out"></span></label>
    <div class="slidecontainer">
        <input type="range" min="1" max="10" value="10" class="slider" id="light">
    </div>
    <br>
<a href="#" class="btn btn-default" id="camReset">Resetovat kameru</a>
<hr>
{% if imgs %}
<div class="row">
    {% for photo in imgs %}
    <div class="col-xs-12 col-sm-6">
        <img src="/uploads/{{ photo.f }}" class="imgs-medium">
    </div>
    {% endfor %}

    <!--<img src="/uploads/{{ model.image_gallery }}" class="imgs img-responsive">-->
</div>
<a href="{% url 'editGallery' model.id %}" class="btn btn-primary btn-sm">Upravit galerii</a>
{% else %}
<p><i>Model nemá galerii k dispozici</i>{% if user.is_authenticated %}
    <a href="{% url 'addGallery' model.id %}" class="btn btn-success btn-sm">Přidat galerii</a>
{% endif %}</p>
<hr>
{% endif %}
<p>Tagy: {% if model.tags != None %}
{{ model.tags }}
{% else %}
<i>Model nemá tagy</i>
{% endif %}</p>

{% if user.is_authenticated %}
<div class="row">
    <a href="{% url 'edit' model.id %}" class="btn btn-primary btn"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
    <a href="{% url 'delete' model.id %}" class="btn btn-danger btn"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
</div>
{% else %}
{% endif %}

{% endblock content %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
{% load static %}
<script src="{% static 'objectGallery/three.min.js' %}"></script>
<script src="{% static 'objectGallery/MTLLoader.js' %}"></script>
<script src="{% static 'objectGallery/OBJLoader.js' %}"></script>
<script src="{% static 'objectGallery/OrbitControls.js' %}"></script>
<script src="{% static 'objectGallery/renderer.js' %}"></script>
{% endblock scripts %}