{% extends 'objectGallery/base.html' %}

{% block content %}
{% load bootstrap %}
<a href="{% url 'index' %}" class="btn btn-primary">&lt; Zpět</a>
<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Model</h2>
    {{ form | bootstrap }}
    <h2>Galerie modelu</h2>
    {{ galleryForm | bootstrap }}
    <div class="row">
        {% for img in imgs %}
            <div class="thumb" id="model{{img.id}}">
                <img src="/uploads/{{ img.f }}" class="imgs">
                <a href="/models/img/{{ img.id }}/delete/" class="btn btn-danger btn-sm ajax"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        {% endfor %}
    </div>
    <h2>Tagy modelu</h2>
    <input type="submit" value="Upravit" class="btn btn-default">
</form>
{% endblock content %}
{% block scripts %}
<script>
$(document).ready(function(){
    $('#id_f').attr("multiple","true");
  })
</script>
{% endblock scripts %}