{% extends 'objectGallery/base.html' %}

{% block content %}
<div id="ajaxMsg"></div>
{% if models %}
    {% for model in models %}
        <div class="col-xs-12 col-sm-4 mod" id="model{{model.id}}">
            <p><a href="{% url 'detail' model.id %}">
            {% if model.thumb %}
                <img src="/uploads/{{ model.thumb }}" class="thumb" alt="thumbnail">
            {% else %}
                {% load static %}
                <img src="{% static 'objectGallery/NoImage.png' %}" class="thumb" alt="no_thumbnail">
            {% endif %}
            <div class="row">
            {{ model.name }}
            </div>
            {% if user.is_authenticated %}
                <div class="row">
                <a href="{% url 'edit' model.id %}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="{% url 'delete' model.id %}" class="btn btn-danger btn-sm ajax"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            {% endif %}
            </div></a></p>
        </div>
    {% endfor %}
{% else %}
<div class="col-xs-12">
    <p>Nebyly ještě nahrány žádné 3D modely</p>
</div>
{% endif %}
{% if user.is_authenticated %}
    <div class="col-xs-12">
        <a href="{% url 'create' %}" class="btn btn-success">Vložit model</a>
    </div>
{% endif %}
<br>
{% endblock content %}