{% extends 'objectGallery/base.html' %}

{% block content %}
{% if models %}
    {% for model in models %}
        <div class="col-xs-12 col-sm-4">
            <p><div class="row"><a href="{% url 'detail' model.id %}">{{ model.name }}</a></div>
            {% if user.is_authenticated %}
                <div class="row">
                <a href="{% url 'edit' model.id %}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                <a href="{% url 'delete' model.id %}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            {% endif %}
            </div><p>
        </div>
    {% endfor %}
{% else %}
<div class="col-xs-12">
    <p>Nebyly ještě nahrány žádné 3D modely</p>
</div>
{% endif %}
{% if user.is_authenticated %}
    <div class="col-xs-12">
        <a href="{% url 'create' %}" class="btn btn-success">Vložit model</a>
    </div>
{% endif %}
<br>
{% endblock content %}